header{
    height: 150px;
    background:	#862203;
}

div{
    text-align:center;
    background: #862203;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

table{
    width: 300px; 
    border: 1px solid #862203; 
    margin: auto
}

tb{
     text-align:center
}

form{
    text-align:center;
    font-size: 30px;
    background:	#a19812;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

ol{
    text-align:center
}

nav{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background:#bdb108;
    padding:10px 20px 10px 20px;
    width: 400px;
}

#p1{
    align-content: center;
	justify-content: space-around;
	width: 960px;
	height: auto; 
	text-align: center;
	border-radius: 10px;
    border-style: none;  
	font-size: 25px;
	box-shadow: 0 0 5px 1px #AAAAAA;
	border-radius: 10px;
	background:  #bdb108;
    margin: 30px auto;
}

h1{
    text-align:center;
}

h2{
    text-align:center;
}

h4{
    text-align:center;
    background:#bdb108;
    
}


.gr{
    background-color:#bdb108;
}
.yl{
    background-color:rgb(141, 109, 27);
}